.button
    display inline-block
    font-size 1rem
    color #fff
    background-color $accentColor
    padding 0.75rem 3rem
    border-radius 4px
    transition background-color .1s ease
    box-sizing border-box
    border-bottom 1px solid darken($accentColor, 10%)

    &:hover
        background-color lighten($accentColor, 10%)
