.custom-block
  .custom-block-title
    font-weight 600
    margin-bottom -0.4rem
    color white
  &.tip, &.warning, &.danger
    padding .1rem 1.5rem
    border-left-width .5rem
    border-left-style solid
    margin 1rem 0
  &.tip
    background-color $cn-color-primary
    //border-color #42b983
    border none
    border-radius $cn-border-radius-lg
    margin-right 62px
    margin-left 62px
    position relative
    color $cn-color-dark
    &:after
      content ''
      left -25px
      position absolute
      width 50px
      height 50px
      top 25px
      background-image url('/star.svg')
      background-repeat no-repeat
      background-size 50px 50px
  &.warning
    background-color rgba(255,229,100,.3)
    border-color darken(#ffe564, 35%)
    color darken(#ffe564, 70%)
    .custom-block-title
      color darken(#ffe564, 50%)
    a
      color $textColor
  &.danger
    background-color #ffe6e6
    border-color darken(red, 20%)
    color darken(red, 70%)
    .custom-block-title
      color darken(red, 40%)
    a
      color $textColor
  &.details
    display block
    position relative
    border-radius 2px
    margin 1.6em 0
    padding 1.6em
    background-color #eee
    h4
      margin-top 0
    figure, p
      &:last-child
        margin-bottom 0
        padding-bottom 0
    summary
      outline none
      cursor pointer
  a
    color white
    span
      display none
