.container
  margin-left auto
  margin-right auto

  @media (min-width: 0) and (max-width: 791px)
    margin-right: 20px !important
    margin-left: 20px !important
    max-width: calc(100% - 40px) !important
  @media (min-width 792px)
    max-width: 516px !important
  @media (min-width 855px)
    max-width: 568px !important
  @media (min-width 1060px)
    max-width: 700px !important //932
  @media (min-width 1440px)
    max-width: 820px !important //1160

.flex
  display flex
.row
  flex-direction row !important
.column
  flex-direction column
  flex-grow 1
  flex-shrink 0
  max-width 100%
.align-center
  align-items center
.justify-center
  justify-content center
.justify-between
  justify-content space-between


// Spacings
$base-spacing = 16px

for i in (1..7)
  .p-{i}
    padding 'calc(%s * %s)' % ($base-spacing i)
  .pt-{i}
    padding-top 'calc(%s * %s)' % ($base-spacing i)
  .pb-{i}
    padding-bottom 'calc(%s * %s)' % ($base-spacing i)
  .pl-{i}
    padding-left 'calc(%s * %s)' % ($base-spacing i)
  .pr-{i}
    padding-right 'calc(%s * %s)' % ($base-spacing i)
