.container
  @media (min-width 1200px)
    max-width: 1500px !important
  @media (min-width 992px)
    max-width: 932px !important
  @media (min-width 768px)
    max-width: 708px !important
  @media (min-width 576px)
    max-width: 516px !important
  @media (min-width: 0) and (max-width: 575px)
    margin-right: 30px !important
    margin-left: 30px !important
    max-width: calc(100% - 60px) !important

.flex
  display flex
.row
  flex-direction row
.column
  flex-direction column
