._text-center
    text-align center !important
._text-left
    text-align left !important
._text-right
    text-align right !important


for property in (margin padding)
    for size in (0 1 2 3 4)
        ._{property}-{size}
            {property}: size * 1rem !important
        ._{property}-top-{size}
            {property}-top: size * 1rem !important
        ._{property}-left-{size}
            {property}-left: size * 1rem !important
        ._{property}-right-{size}
            {property}-right: size * 1rem !important
        ._{property}-bottom-{size}
            {property}-bottom: size * 1rem !important
