._text-center
    text-align center !important
._text-left
    text-align left !important
._text-right
    text-align right !important

._margin-0
    margin 0 !important
._margin-top-0
    margin-top 0 !important
._margin-left-0
    margin-left 0 !important
._margin-right-0
    margin-right 0 !important
._margin-bottom-0
    margin-bottom 0 !important

._padding-0
    padding 0 !important
._padding-top-0
    padding-top 0 !important
._padding-left-0
    padding-left 0 !important
._padding-right-0
    padding-right 0 !important
._padding-bottom-0
    padding-bottom 0 !important
