@require './config'
@require './code'
@require './custom-blocks'
@require './arrow'
@require './wrapper'
@require './toc'
@require './typography'

html, body
  background-color $cn-color-dark !important
  color white !important
//  padding 0
//  margin 0
//
//body
//  font-family -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
//  -webkit-font-smoothing antialiased
//  -moz-osx-font-smoothing grayscale
//  font-size 16px
//  color $textColor

.page
  padding-left $sidebarWidth

.navbar
  position fixed
  z-index 20
  top 0
  left 0
  right 0
  height $navbarHeight
  background $cn-dark-gradient
  box-sizing border-box
  border-bottom 1px solid $borderColor

.sidebar-mask
  position fixed
  z-index 9
  top 0
  left 0
  width 100vw
  height 100vh
  display none

.sidebar
  font-size 16px
  //background-color #fff
  width $sidebarWidth
  position fixed
  z-index 10
  margin 0
  top $navbarHeight
  left 0
  bottom 0
  box-sizing border-box
  border-right 1px solid $borderColor
  overflow-y auto

{$contentClass}:not(.custom)
  @extend $wrapper

  > *:first-child
    margin-top $navbarHeight

  a:hover
    text-decoration underline

  p.demo
    padding 1rem 1.5rem
    border 1px solid #ddd
    border-radius 4px

  img
    max-width 100%

{$contentClass}.custom
  padding 0
  margin 0

  img
    max-width 100%

kbd
  background #eee
  border solid 0.15rem #ddd
  border-bottom solid 0.25rem #ddd
  border-radius 0.15rem
  padding 0 0.15em

blockquote
  //font-size 1rem
  position relative
  color $cn-color-grey;
  //margin 1rem 0
  display flex
  flex-direction row
  align-items center
  padding 32px
  border 3px solid $cn-color-primary_dark
  box-sizing border-box
  box-shadow $cn-shadow-sm
  border-radius $cn-border-radius-lg
  background-color $cn-color-dark
  //max-width 740px
  & > p
    margin 0
    padding-left 28px
    code
      color $cn-color-secondary
      font-weight bold
      font-size: 16px !important
      line-height: 19px !important
    a
      font-weight bold
  &:before
    content ''
    position absolute
    height calc(100% - 64px)
    left 4.32%
    top 32px
    background #153954
    border 4px solid $cn-color-primary_dark
    box-shadow $cn-shadow-sm
    border-radius $cn-border-radius-sm



h1, h2, h3, h4, h5, h6
  &:hover .header-anchor
    opacity: 1

a.header-anchor
  font-size 0.85em
  float left
  margin-left -0.87em
  padding-right 0.23em
  margin-top 0.125em
  opacity 0

  &:hover
    text-decoration none

.theme-container
  &.sidebar-open
    .sidebar-mask
      display: block

  &.no-navbar
    {$contentClass}:not(.custom) > h1, h2, h3, h4, h5, h6
      margin-top 1.5rem
      padding-top 0

    .sidebar
      top 0


@media (min-width: ($MQMobile + 1px))
  .theme-container.no-sidebar
    .sidebar
      display none
      bottom 0

    .page
      padding-left 0

.theme-container.blank
  .page
      padding-bottom 0

  .theme-default-content
      max-width: unset
      padding: 2rem 0 0

  .page-edit
      display none

input {
  border-radius $cn-input-radius !important
}

ul li::marker
  color: $cn-color-secondary
  font-size 25px
  line-height 0

@require 'mobile.styl'

.el-tabs
  background-color transparent !important
  border none !important
  box-shadow none !important
  margin-bottom	32px
  @media (max-width $MQNarrow)
    margin-bottom 16px
  .el-tabs__header
    background-color transparent !important
    border none !important
    color white !important
    .el-tabs__nav-wrap.is-scrollable
      .el-tabs__nav-prev
        height 100%
        color transparent
        &:after
          content ''
          height 18px
          width 11px
          background-image url("/icons/arrow-left.svg")
          top calc(50% - 9px);
          left 0
          position absolute
      .el-tabs__nav-next
        height 100%
        color transparent
        &:after
          content ''
          height 18px
          width 11px
          background-image url("/icons/arrow-right.svg")
          top calc(50% - 9px);
          right 0
          position absolute
    .el-tabs__item.is-top
      bottom -1px
      border-top-left-radius $cn-border-radius-lg
      border-top-right-radius $cn-border-radius-lg
      background-color #0D3049
      border-bottom-left-radius none
      border-bottom-right-radius none
      width 130px !important
      margin-left 5px !important
      margin-right 5px !important
      text-align center
      padding-top 26px
      padding-bottom 21px
      @extend .cn-text-sm
      height unset
      @media (max-width $MQMobile)
        width 80px !important
        padding-top 13px !important
        padding-bottom 10px !important
    .is-top.is-active
      color $cn-color-secondary !important
      background-color $cn-color-primary_dark !important
      border none !important
  .el-tabs__content
    background-color $cn-color-primary_dark
    border-radius $cn-border-radius-lg !important
    box-shadow $cn-shadow-sm

[class*='language-']
  @extend .cn-text-sm


::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: transparent;
}


::-webkit-scrollbar-thumb {
  background: $cn-color-primary_dark;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #000;
}

//Firefox Scrollbar
//* {
  //scrollbar-color: $cn-color-primary_dark transparent;
  //scrollbar-width: 20px;
//}

table
  border-spacing unset
  font-size 16px !important
  line-height 19px !important
  border-radius $cn-border-radius-lg
  box-shadow $cn-shadow-sm

  @media (max-width: $MQMobile)
    font-size 8px !important
    line-height 10px !important
  thead
    tr
      height 60px
      th
        padding-left 20px
        padding-right 20px
        text-align left
        background-color $cn-color-primary_darker
        &:first-of-type
          border-top-left-radius $cn-border-radius-lg
        &:last-of-type
          border-top-right-radius $cn-border-radius-lg
        &:not(:last-of-type)
          border-right 5px solid transparent
          -webkit-background-clip: padding-box;
          background-clip: padding-box;
  tbody
    tr
      height 48px
      td
        padding-left 20px
        padding-right 20px
        text-align left
        background-color $cn-color-primary_dark
        &:not(:last-of-type)
          border-right 5px solid transparent
          -webkit-background-clip: padding-box;
          background-clip: padding-box;
        code
          color $cn-color-secondary
          font-weight bold
      &:not(:last-of-type)
        td
          border-bottom 5px solid transparent
          -webkit-background-clip: padding-box;
          background-clip: padding-box;
      &:last-of-type
        td
          &:first-of-type
            border-bottom-left-radius $cn-border-radius-lg
          &:last-of-type
            border-bottom-right-radius $cn-border-radius-lg

.page-content
    img
      max-width 100%
