.section-wrapper
    width: 100%
    display block

    &.-primary
        background: $accentColor


.section
    padding 4rem 0
    max-width $homePageWidth
    margin 0 auto
    display block

    h2
        font-size: 2.4rem
        border-bottom: 0

    @media (max-width: 1170px)
        padding: 3rem 1rem

    @media (max-width: $MQMobile)
        padding: 3rem 1rem

