.section-wrapper
    width: 100%
    display block

    &.-primary
        background: $accentColor

    &.-gray-10
        background: #f1f5f5


.section
    padding 6rem 0
    max-width $homePageWidth
    margin 0 auto
    display block

    h1,
    h2,
    h3
        &:first-child
            margin-top: 0

    h2
        font-size: 2.4rem
        border-bottom: 0

    @media (max-width: 1170px)
        padding: 3rem 1rem

    @media (max-width: $MQMobile)
        padding: 3rem 1rem

    .section-center
        text-align center
        max-width: 800px
        margin: 0 auto 6rem

.columns
    display: flex
    margin-left: -1rem
    margin-right: -1rem

    .column
        padding: 0 1rem
        flex: 1 1 100%

        img
            max-width: 100%

    @media (max-width: $MQMobile)
        flex-direction column
