/**
 * Code Block Styling
 * Converted from code.styl
 */

.theme-default-content code {
  color: rgba(255, 255, 255, 0.8);
  padding: 0.25rem 0.5rem;
  margin: 0;
  font-size: 0.85em;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}

.theme-default-content code .token.deleted {
  color: #EC5975;
}

.theme-default-content code .token.inserted {
  color: var(--accent-color);
}

.theme-default-content pre,
.theme-default-content pre[class*="language-"] {
  line-height: 1.4;
  padding: 1.25rem 1.5rem;
  margin: 0.85rem 0;
  background-color: var(--code-bg-color);
  border-radius: 6px;
  overflow: auto;
}

.theme-default-content pre code,
.theme-default-content pre[class*="language-"] code {
  color: #fff;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}

div[class*="language-"] {
  position: relative;
  background-color: var(--code-bg-color);
  border-radius: var(--cn-border-radius-lg);
  margin: 8px !important;
  margin-top: 16px !important;
  box-shadow: var(--cn-shadow-sm) !important;
}

div[class*="language-"] .highlight-lines {
  user-select: none;
  padding-top: 1.3rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 1.4;
}

div[class*="language-"] .highlight-lines .highlighted {
  background-color: rgba(0, 0, 0, 0.66);
}

div[class*="language-"] pre,
div[class*="language-"] pre[class*="language-"] {
  background: transparent;
  position: relative;
  z-index: 1;
}

div[class*="language-"]::before {
  position: absolute;
  z-index: 3;
  top: 0.8em;
  right: 1em;
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.4);
}

div[class*="language-"]:not(.line-numbers-mode) .line-numbers-wrapper {
  display: none;
}

div[class*="language-"].line-numbers-mode .highlight-lines .highlighted {
  position: relative;
}

div[class*="language-"].line-numbers-mode .highlight-lines .highlighted::before {
  content: ' ';
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  display: block;
  width: var(--line-numbers-wrapper-width);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.66);
}

div[class*="language-"].line-numbers-mode pre {
  padding-left: calc(var(--line-numbers-wrapper-width) + 1rem);
  vertical-align: middle;
}

div[class*="language-"].line-numbers-mode .line-numbers-wrapper {
  position: absolute;
  top: 0;
  width: var(--line-numbers-wrapper-width);
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  padding: 1.25rem 0;
  line-height: 1.4;
}

div[class*="language-"].line-numbers-mode .line-numbers-wrapper br {
  user-select: none;
}

div[class*="language-"].line-numbers-mode .line-numbers-wrapper .line-number {
  position: relative;
  z-index: 4;
  user-select: none;
  font-size: 0.85em;
}

div[class*="language-"].line-numbers-mode::after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: var(--line-numbers-wrapper-width);
  height: 100%;
  border-radius: 6px 0 0 6px;
  border-right: 1px solid rgba(0, 0, 0, 0.66);
  background-color: var(--code-bg-color);
}

/* Language Labels */
div[class~="language-bash"]::before { content: "bash"; }
div[class~="language-c"]::before { content: "c"; }
div[class~="language-css"]::before { content: "css"; }
div[class~="language-cpp"]::before { content: "cpp"; }
div[class~="language-diff"]::before { content: "diff"; }
div[class~="language-go"]::before { content: "go"; }
div[class~="language-graphql"]::before { content: "graphql"; }
div[class~="language-java"]::before { content: "java"; }
div[class~="language-javascript"]::before { content: "js"; }
div[class~="language-json"]::before { content: "json"; }
div[class~="language-kotlin"]::before { content: "kotlin"; }
div[class~="language-less"]::before { content: "less"; }
div[class~="language-makefile"]::before { content: "makefile"; }
div[class~="language-markdown"]::before { content: "md"; }
div[class~="language-markup"]::before { content: "html"; }
div[class~="language-perl"]::before { content: "perl"; }
div[class~="language-php"]::before { content: "php"; }
div[class~="language-python"]::before { content: "py"; }
div[class~="language-ruby"]::before { content: "rb"; }
div[class~="language-rust"]::before { content: "rust"; }
div[class~="language-sass"]::before { content: "sass"; }
div[class~="language-scss"]::before { content: "scss"; }
div[class~="language-sh"]::before { content: "sh"; }
div[class~="language-shell"]::before { content: "shell"; }
div[class~="language-sql"]::before { content: "sql"; }
div[class~="language-styl"]::before { content: "styl"; }
div[class~="language-stylus"]::before { content: "stylus"; }
div[class~="language-swift"]::before { content: "swift"; }
div[class~="language-toml"]::before { content: "toml"; }
div[class~="language-ts"]::before { content: "ts"; }
div[class~="language-typescript"]::before { content: "ts"; }
div[class~="language-vue"]::before { content: "vue"; }
div[class~="language-xml"]::before { content: "xml"; }
div[class~="language-yaml"]::before { content: "yaml"; }

@import 'prismjs/themes/prism-tomorrow.css';
