#blog-post
    margin-top: 6rem
    margin-bottom: 4rem
    max-width: 740px
    font-size: 1.2rem

    .blog-post-title
        text-align center
        margin-bottom: 2rem

    .blog-post-excerpt
        color: #4f6478
        text-align center
        margin-bottom: 2rem

    .blog-post-meta
        color: #4f6478
        margin-bottom: 6rem
        text-align: center
        font-size: 14px
        font-weight: 600

    .blog-post-image
        position: relative;
        width: 75vw;
        min-width: 100%;
        margin: 4vw calc(50% - 50vw);
        transform: translateX(calc(50vw - 50%));

    h2
        border-bottom: 0;

#blog-posts
    margin-bottom: 4rem

#blog
    .theme-default-content
        padding: 0

    .sidebar
        @media screen and (min-width: 720px)
            display none;

.blog-entry
    margin-bottom: 2rem

    .body
        border: 0

    .blog-entry-title
        text-decoration none

        h2
            margin: 0
            font-size: 1.6rem

    .blog-entry-meta
        margin: 0.5rem 0
        font-size: 0.8rem
        color: #4f6478

    .blog-entry-description
        margin: 0
        color: #4f6478
        font-size: 1rem
