.navbar
    .home-link
        span
            text-indent: -10000px

    a
        &:hover, &:active, &:focus
            text-decoration none

.sidebar
    ul li
        margin-bottom 0

div[class*="language-"]
    > pre
        margin: 0

pre code
    font-size: 0.9rem
