.hero
    text-align center
    display block
    background-image: url('/header3.jpg')
    background-attachment: static
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    padding: $navbarHeight 0 0

    .hero-content
        max-width: $homePageWidth
        padding: 2rem 0.5rem 10rem
        display: block
        margin 0 auto

    img
        max-width: 100%
        max-height 280px
        display block
        margin 3rem auto 1.5rem

    h1
        font-size 3rem
    h1, .description, .action
        margin 2rem auto

    .description
        max-width 35rem
        font-size 1.2rem
        line-height 1.5
        color lighten($textColor, 40%)

@media (max-width: $MQMobileNarrow)
    .hero
        img
            max-height 210px
            margin 2rem auto 1.2rem
        h1
            font-size 2rem
        h1, .description, .action
            margin 1.2rem auto
        .description
            font-size 1.2rem
        .action-button
            font-size 1rem
            padding 0.6rem 1.2rem
