@require './blog.styl'
@require './hero.styl'
@require './section.styl'
@require './extend.styl'

#homepage
    .header-anchor
        display none

#features
    margin-top: -40px

    @media (max-width: 980px)
        flex-direction column
        text-align: center

#easy-setup-section
    margin-top: -2rem
    text-align: center

    .container
        max-width: 980px

    div.language-bash
        margin-top: 2rem
        width: auto
        display inline-block
        max-width: 100%

#video-section
    color: white
    background-color: $accentColor
    text-align center
    background-image: url('/corner-left-right-asymmetric-gray.png')
    background-size: 100% auto
    background-repeat no-repeat
    background-position: top center

    h2
        margin-top: 0
        border-bottom 0
        color: white

    p
        color: rgba(white, 0.8)

    .video-features
        display: flex
        width: 100%
        margin-top: 4rem

        ul
            width: 33%
            text-align: left
            margin-left: 2rem

            li
                display: flex
                align-items center
                margin-bottom: 0.5rem

            svg
                margin-right: 1rem

        .video
            padding: 1rem
            background white
            display: block
            width: 67%
            box-sizing border-box

        @media screen and (max-width: 979px)
            flex-direction column

            ul,
            .video
                width: 100%
                margin-left: 0

            ul
                margin-top: 2rem

#code-tabs
    background: #f8f9fa !important

#code-examples
    svg
        width: 3rem
        height: 3rem
        color: $accentColor

    img
        width: 4rem

    h2
        margin-top: 1rem

    .row
        align-items center

    @media screen and (max-width: 979px)
        text-align center

        .inverse
            flex-direction column-reverse

        p, ul
            text-align left

        .terminal-wrapper
            margin-bottom: 1rem

#comingsoon
    ul
        li._text-muted
            @media screen and (max-width: 767px)
                display none

#usedby
    padding-top: 4rem
    padding-bottom: 2rem
    justify-content space-between
    text-align: center

    .column
        display flex
        flex-wrap: wrap
        justify-content center

        a
            margin: 1rem

    img
        margin: 0 auto 2rem
        display block
        opacity: 0.5
        transition: opacity 0.3s ease
        height: 45px;
        width: auto;

        &:hover
            opacity: 0.6

#performance
    img
        margin: 1rem auto 0

#qldb-comparison
    padding-bottom: 5rem

    .fa-bolt
        font-size: 64px
        margin-bottom: 1rem

#get-started-end
    .button
        margin-top: 2rem

    .section-center
        margin-bottom 0

.jobs
    ul
        border: 1px solid $borderColor
        list-style: none
        padding-left: 0 !important

        li
            border-bottom: 1px solid $borderColor
            margin: 0

            &:last-child
                border-bottom 0

            a
                display: block
                padding: 1rem
                text-decoration none !important

                &:hover, &:focus
                    background: #f9f9f9


