#code-examples
    svg
        width: 3rem
        height: 3rem
        color: $accentColor

    img
        width: 4rem

    h2
        margin-top: 1rem

    .columns
        align-items center

        .terminal-column
            max-width: 65%
