$color-primary: #37598d;
$icons-font-path: '/node_modules/@inkline/inkline/src/assets/icons/';
$font-size-base: 1.1rem;
$headings-font-weight: 600;
$body-color-light: #2c3e50;
$button-padding-base: 0.5rem 2rem;

@import '~@inkline/inkline/src/inkline';
@import '~@inkline/inkline/src/components/IButton/style';
@import '~@inkline/inkline/src/components/IContainer/style';
@import '~@inkline/inkline/src/components/IRow/style';
@import '~@inkline/inkline/src/components/IColumn/style';

