$color-primary: #37598d;
$icons-font-path: '/node_modules/@inkline/inkline/src/assets/icons/';
$font-size-base: 1.1rem;
$headings-font-weight: 600;
$body-color-light: #2c3e50;
$button-padding-base: 0.5rem 2rem;

@import '~@inkline/inkline/src/inkline';
@import '~@inkline/inkline/src/components/IButton/style';
@import '~@inkline/inkline/src/components/IBadge/style';
@import '~@inkline/inkline/src/components/IContainer/style';
@import '~@inkline/inkline/src/components/IRow/style';
@import '~@inkline/inkline/src/components/IColumn/style';
@import '~@inkline/inkline/src/components/ICard/style';
@import '~@inkline/inkline/src/components/IListGroup/style';
@import '~@inkline/inkline/src/components/IListGroupItem/style';
@import '~@inkline/inkline/src/components/ITabs/style';
@import '~@inkline/inkline/src/components/ITab/style';
@import '~@inkline/inkline/src/components/IModal/style';
@import '~@inkline/inkline/src/components/IFormGroup/style';
@import '~@inkline/inkline/src/components/IFormError/style';
@import '~@inkline/inkline/src/components/IIcon/style';
@import '~@inkline/inkline/src/components/IInput/style';

.tabs.-code {
    display: flex;
    flex-direction: row;

    .header {
        flex: 25%;
        margin-right: $spacer;
    }

    .tab {
        flex: 100%;
        max-width: 75%;
    }

    @media screen and (max-width: 979px) {
        flex-direction: column;

        .tab {
            max-width: 100%;
        }
    }
}

.info-alert {
    border: 1px solid #37598d;
    border-left-width: 5px;
    padding: 1rem;
    margin: 2rem 0 1rem;

    p {
        margin: 0;
    }
}

.link-card {
    .icon {
        position: absolute;
        right: 2rem;
        top: 50%;
        margin-top: -8px;
        transition: right 0.3s ease;
    }

    &:hover .icon {
        right: 1rem;
    }
}
