// Custom variables
$cn-color-brand = #244583;
$cn-color-primary = #24c4a1;
$cn-color-primary_light = #9fefde;
$cn-color-primary_dark = #153954;
$cn-color-secondary = #febf2d;
$cn-color-secondary-light = #fed19a;
$cn-color-dark = #13274b;
$cn-color-grey = #c1c1c1;
$cn-color-grey_light = #ebece9;
$cn-color-light = #faf9f8;
$cn-color-accent = #db3216;
$cn-color-black = #000;
$cn-color-cyan = #36d6d0;
$cn-color-blue = #147cb6;
$cn-dark-gradient = linear-gradient(90deg, #13264a 26.04%, #24c4a1 99.98%, #24c3a1 99.99%, #24c4a1 100%);
$cn-dark-gradient_inverse = linear-gradient(-90deg, #13264a 26.04%, #24c4a1 99.98%, #24c3a1 99.99%, #24c4a1 100%);

// Overrides
$accentColor = #37598d
$borderColor = #dfdfdf
$textColor = white
$homePageWidth = 1170px

$contentWidth = 90%
$accentColor = $cn-color-primary
$navbarHeight = 120px
$sidebarWidth = 300px
$MQNarrow = 1200px
$MQMobile = 920px


// Other
$cn-button-height = 47px
$cn-button-radius = 7px
$cn-input-radius = 6px
$cn-logo-height = 70
$cn-navbar-height = 100
$cn-navbar-scrolled-height = 70
$cn-border-radius-sm = 10px
$cn-border-radius-md = 20px
$cn-border-radius-lg = 30px
$cn-shadow-sm = 3px 3px 10px rgba(0, 0, 0, 0.15)
$cn-shadow-bottom-sm = 3px 10px 10px -10px rgba(0, 0, 0, 0.15)
$cn-sidebar-margin = 140px

@-webkit-keyframes scale-animation
  0%
    -webkit-transform scale(1)
    -moz-transform scale(1)
    -ms-transform scale(1)
    -o-transform scale(1)
    transform scale(1)

  50%
    -webkit-transform scale(0.9)
    -moz-transform scale(0.9)
    -ms-transform scale(0.9)
    -o-transform scale(0.9)
    transform scale(0.9)

  100%
    -webkit-transform scale(1)
    -moz-transform scale(1)
    -ms-transform scale(1)
    -o-transform scale(1)
    transform scale(1)

