// Custom variables
$cn-color-brand = #244583;
$cn-color-primary = #24c4a1;
$cn-color-primary_light = #9fefde;
$cn-color-primary_dark = #153954;
$cn-color-secondary = #febf2d;
$cn-color-secondary-light = #fed19a;
$cn-color-dark = #13274b;
$cn-color-grey = #c1c1c1;
$cn-color-grey_light = #ebece9;
$cn-color-light = #faf9f8;
$cn-color-accent = #db3216;
$cn-color-black = #000;
$cn-color-cyan = #36d6d0;
$cn-color-blue = #147cb6;
$cn-dark-gradient = linear-gradient(90deg, #13264a 26.04%, #24c4a1 99.98%, #24c3a1 99.99%, #24c4a1 100%);
$cn-dark-gradient_inverse = linear-gradient(-90deg, #13264a 26.04%, #24c4a1 99.98%, #24c3a1 99.99%, #24c4a1 100%);

// Overrides
$accentColor = #37598d
$borderColor = #dfdfdf
$textColor = white
$homePageWidth = 1170px

$contentWidth = 90%
$accentColor = $cn-color-primary
$navbarHeight = 120px
