name: Node CI

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: Build
      run: |
        npm install --prefer-offline --no-audit --no-optional
        npm run build

    -   name: Commit changes
        uses: EndBug/add-and-commit@v4
        with:
            message: "Updated documentation and images."
            add: "."
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    -   name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
            github_token: ${{ secrets.GITHUB_TOKEN }}
            publish_dir: ./docs
